.about{
   height:100vh;
   width:100%;
   background:rgb(95, 95, 95);
}
.top{
   
    margin-bottom:15px;
}

.mid{
    margin-bottom:15px;
}


.about-content{
    
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:5rem;
    
    .para{
        margin:5px;
    }
 
    
}

.dates{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
    
  
    
    
    img{
        background:#FFF;
    }
    .paraDates{
        margin:5px;
        font-size:15px;
    }
}




@media screen and (max-width:768px){
    .about{
      height:100%;
      
    }

    .about-content{
        padding:0;
    }

    .dates{

    .paraDates{
        
        font-size:10px;
        
    }
}
  }

  @media (min-width:768px){
    .about{
        height:100%;
     width:100%;
    }
  }