.contact{
    height:100vh;
    background:rgb(204, 204, 204);
 
    .form{
        display:flex;
        justify-content:center;
        flex-direction:column;
        height:80%;
        align-items:center;

    }
    
    input{
        
        color:#000;
    }

    textarea{
        resize:none;
        height:26vh;
        
        color:#000;
    }

    .btnContainer{
        display:flex;
        align-items:center;
        justify-content:center
    }

    button{
        margin-top:25px;
        padding: 1rem 3rem;
        width:50%;
    }
   

}
.titleContact{
   
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
   }




  @media (min-width:768px){
    .contact{
    
     width:100%;
    }
  }