.contact{
    height:100vh;
 
    
    .form{
        display:flex;
        justify-content:center;
        flex-direction:column;
        height:80%;
        align-items:center;

    }

    textarea{
        resize:none;
        height:25vh;
    }

    .btnContainer{
        display:flex;
        align-items:center;
        justify-content:center
    }

    button{
        margin-top:25px;
        padding: 1rem 3rem;
        width:50%;
    }
   

}
.titleContact{
   
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
   }


   @media screen and (max-width:768px){
    .contact{
      height:100%;
      margin-top:25vh;
      

      
    }
    .titleContact{
        margin-bottom:10vh;
    }
  }