.projects{
    
    .center{
       
       display:flex;

       
    }
    .titleProject{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
       }

}
@media (max-width: 768px){
    
    .center{
        flex-direction: column;
        font-size:25px;
    }
}


