.projects{
    height:100vh;
    background:rgb(95, 95, 95);
}


.titleProject{
    display:flex;
    align-items:center;
    justify-content:center;
}

.casette{
    display:flex;
}

@media screen and (max-width:768px){
    .projects{
        height:100%;
    }
    .casette{
        flex-direction: column;
        margin-left:25px;
    }
    
}

@media (min-width:768px){
    .projects{
        height:100%;
     width:100%;
    }
  }