
.titleSkill{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
    
    
}

.imageContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%,   #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 200px;
    margin: 20px auto;
    width: 200px;
    color:white;

   

    .paraSkill{      
        margin-top:12px;
        font-size:13px; 
        text-align: center;      
        color:#000;
    }
}

.skills{
   
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    img{
    
       
        border-radius: 15px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
}

