
.titleSkill{
    display:flex;
    align-items:center;
    justify-content:center;

}
.icon{

    font-size:50px;
    
}

.imageContainer{
    background:rgba(112, 109, 109, 0.356);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 150px;
    margin: 15px auto;
    width: 180px;
    color:#000;


   

    .paraSkill{      
        margin-top:12px;
        font-size:13px; 
        text-align: center;      
        color:#000;
    }
}

.skills{
   height:100vh;
    background:lightgray;
    display:flex;
    justify-content:center;
   
    align-items:center;
    flex-wrap:wrap;
    
    

}
.order{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}




@media (max-width:768px){
    .skills{
     height:100%;
     
    }
  }

  @media (min-width:768px){
    .skills{
    
     width:100%;
    }
  }

  