



body {
	margin:0;
	padding:0;
	top:0;
	background: linear-gradient(-50deg, #a242cfc7, #f7731cf8, #23a5d596, #23d5aba9);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	z-index:100;
	
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}